@model MVC_Identity.ViewModels.CreatePeopleViewModel

@{

}

@if (@Model != null)
{
	<div class="row">
		<div class="col">
			<b>
		@(Html.DisplayNameFor(model => model.NewPerson.City.Id))
		</b>
		</div>
		<div class="col"><b>@(Html.DisplayNameFor(model => model.NewPerson.Name))</b>
		</div>
		<div class="col">
			<b>@(Html.DisplayNameFor(model => model.NewPerson.PhoneNumber))</b>
		</div>
		<div class="col">
			<b>@(Html.DisplayNameFor(model => model.NewPerson.City))</b>
		</div>
		<div class="col">
			<b>@(Html.DisplayNameFor(model => model.NewPerson.City.Country))</b>
		</div>
		<div class="col">
			<b>@(Html.DisplayNameFor(model => model.NewPerson.Languages))</b>
		</div>
		<div class="col">&nbsp;</div>
	</div>
}
else
{
	<p>No results found.</p>
}