@model IEnumerable<Country>
@{
	ViewData["Title"] = "Countries";
}

<h1>@ViewBag.Title</h1>

@if (@Model != null)
{
	<div class="row">
		<div class="col">

			<a asp-controller="Country" asp-action="AddCountry" class="btn btn-primary btn-sm">Add</a>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<b>

				@(Html.DisplayNameFor(model => model.Id))
			</b>
		</div>

		<div class="col">
			<b>

				@(Html.DisplayNameFor(model => model.Name))
			</b>
		</div>
		<div class="col">
			&nbsp;
		</div>
	</div>


	@foreach (var item in Model)

	{

		<div class="row m-1">
			<div class="col">
				<b></b>
				<label asp-for="@item.Id" />@item.Id
			</div>
			<div class="col">
				<label asp-for="@item.Name" />@item.Name
			</div>
			<div class="col">
				<a asp-controller="Country" asp-action="Delete" class="btn btn-danger btn-sm" value="Delete" asp-route-id="@item.Id" asp-route-name="@item.Name">Delete</a>
			</div>
		</div>
	}

}
else
{
	<p>No results found.</p>
}