@model IEnumerable<ApplicationUser>
@{
	ViewData["Title"] = "List ov Users";
}

<h1>List ov Users</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				Id
			</th>
			<th>
				Username
			</th>
			<th>
				Age
			</th>
			<th>
				First Name
			</th>
			<th>
				Last Name
			</th>
			@if(User.IsInRole("Admin"))
			{
			<th>
			</th>
			}

		</tr>
	</thead>
	@foreach (var user in Model)
	{
		<tr>
			<td>@user.Id</td>
			<td>@user.UserName</td>
			<td>@user.Age</td>
			<td>@user.FirstName</td>
			<td>@user.LastName</td>
			<td>
				<a asp-action="ShowUserRoles" asp-route-id="@user.Id" class="btn btn-primary">Check Roles</a>
			</td>
			<td>
				@if (User.IsInRole("Admin"))
				{
					<a asp-action="DeleteUser" asp-route-id=@user.Id class="btn btn-danger">Delete User</a>
				}
        </td>
		</tr>
	}
</table>